.idea/
__pycache__/
.coverage
*.pyc

ceteris_paribus/plots/obs*.js
ceteris_paribus/plots/params*.js
ceteris_paribus/plots/profile*.js
ceteris_paribus/plots/plots*.html

/docs/_build/

**/.ipynb_checkpoints
/build/
/pyCeterisParibus.egg-info/
/dist/

# data files produced for plots
**/_plot_files